<robot xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://ros.org/wiki/xacro" name="shadowhand_motor">
  <link name="forearm">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <link name="wrist">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="WRJ2" type="revolute">
    <parent link="forearm"/>
    <child link="wrist"/>
    <!--<origin xyz="0 -0.010 0.213" rpy="0 0 0" />-->
    <origin rpy="0 0 0" xyz="0 -0.010 0.213"/>
    <axis xyz="0 1 0"/>
    <limit effort="5" lower="-0.52359877559829882" upper="0.17453292519943295" velocity="1.0"/>
    <dynamics damping="100.5"/>
  </joint>
  <link name="palm">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="WRJ1" type="revolute">
    <parent link="wrist"/>
    <child link="palm"/>
    <origin rpy="0 0 0" xyz="0 0 0.034"/>
    <axis xyz="1 0 0"/>
    <limit effort="5" lower="-0.78539816339744828" upper="0.6108652381980153" velocity="1.0"/>
    <dynamics damping="100.5"/>
  </joint>
  <link name="ffknuckle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="FFJ4" type="revolute">
    <parent link="palm"/>
    <child link="ffknuckle"/>
    <!--<origin xyz="0.033 0 0.095" rpy="0 0 0" />-->
    <origin rpy="0 0 0" xyz="0.033 0 0.095"/>
    <axis xyz="0 -1 0"/>
    <limit effort="10" lower="-0.43633231299858238" upper="0.43633231299858238" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="ffproximal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="FFJ3" type="revolute">
    <parent link="ffknuckle"/>
    <child link="ffproximal"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="ffmiddle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="FFJ2" type="revolute">
    <parent link="ffproximal"/>
    <child link="ffmiddle"/>
    <origin rpy="0 0 0" xyz="0 0 0.045"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="ffdistal">
    <!--      <visual>
	   <origin xyz="0 0 0" rpy="0 0 0" />
	   <geometry name="nano17">
	   <mesh filename="meshes/nano17.obj"  />
	   </geometry>
	   <material name="Grey" />
	   </visual>-->
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="FFJ1" type="revolute">
    <parent link="ffmiddle"/>
    <child link="ffdistal"/>
    <origin rpy="0 0 0" xyz="0 0 0.025"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="fftip">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="FFtip" type="fixed">
    <parent link="ffdistal"/>
    <child link="fftip"/>
    <origin rpy="0 0 0" xyz="0 0 0.026"/>
  </joint>
  <link name="mfknuckle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="MFJ4" type="revolute">
    <parent link="palm"/>
    <child link="mfknuckle"/>
    <!--<origin xyz="0.033 0 0.095" rpy="0 0 0" />-->
    <origin rpy="0 0 0" xyz="0.011 0 0.099"/>
    <axis xyz="0 -1 0"/>
    <limit effort="10" lower="-0.43633231299858238" upper="0.43633231299858238" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="mfproximal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="MFJ3" type="revolute">
    <parent link="mfknuckle"/>
    <child link="mfproximal"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="mfmiddle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="MFJ2" type="revolute">
    <parent link="mfproximal"/>
    <child link="mfmiddle"/>
    <origin rpy="0 0 0" xyz="0 0 0.045"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="mfdistal">
    <!--      <visual>
	   <origin xyz="0 0 0" rpy="0 0 0" />
	   <geometry name="nano17">
	   <mesh filename="meshes/nano17.obj"  />
	   </geometry>
	   <material name="Grey" />
	   </visual>-->
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="MFJ1" type="revolute">
    <parent link="mfmiddle"/>
    <child link="mfdistal"/>
    <origin rpy="0 0 0" xyz="0 0 0.025"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="mftip">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="MFtip" type="fixed">
    <parent link="mfdistal"/>
    <child link="mftip"/>
    <origin rpy="0 0 0" xyz="0 0 0.026"/>
  </joint>
  <link name="rfknuckle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="RFJ4" type="revolute">
    <parent link="palm"/>
    <child link="rfknuckle"/>
    <!--<origin xyz="0.033 0 0.095" rpy="0 0 0" />-->
    <origin rpy="0 0 0" xyz="-0.011 0 0.095"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" lower="-0.43633231299858238" upper="0.43633231299858238" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="rfproximal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="RFJ3" type="revolute">
    <parent link="rfknuckle"/>
    <child link="rfproximal"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="rfmiddle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="RFJ2" type="revolute">
    <parent link="rfproximal"/>
    <child link="rfmiddle"/>
    <origin rpy="0 0 0" xyz="0 0 0.045"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="rfdistal">
    <!--      <visual>
	   <origin xyz="0 0 0" rpy="0 0 0" />
	   <geometry name="nano17">
	   <mesh filename="meshes/nano17.obj"  />
	   </geometry>
	   <material name="Grey" />
	   </visual>-->
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="RFJ1" type="revolute">
    <parent link="rfmiddle"/>
    <child link="rfdistal"/>
    <origin rpy="0 0 0" xyz="0 0 0.025"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="rftip">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="RFtip" type="fixed">
    <parent link="rfdistal"/>
    <child link="rftip"/>
    <origin rpy="0 0 0" xyz="0 0 0.026"/>
  </joint>
  <link name="lfmetacarpal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="LFJ5" type="revolute">
    <parent link="palm"/>
    <child link="lfmetacarpal"/>
    <origin rpy="0 0 0" xyz="-0.033 0 0.02071"/>
    <axis xyz="0.573576436 0 0.819152044"/>
    <limit effort="10" lower="0" upper="0.69813170079773179" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="lfknuckle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="LFJ4" type="revolute">
    <parent link="lfmetacarpal"/>
    <child link="lfknuckle"/>
    <origin rpy="0 0 0" xyz="0 0 0.06579"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" lower="-0.43633231299858238" upper="0.43633231299858238" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="lfproximal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="LFJ3" type="revolute">
    <parent link="lfknuckle"/>
    <child link="lfproximal"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="lfmiddle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="LFJ2" type="revolute">
    <parent link="lfproximal"/>
    <child link="lfmiddle"/>
    <origin rpy="0 0 0" xyz="0 0 0.045"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="lfdistal">
    <!--      <visual>
	   <origin xyz="0 0 0" rpy="0 0 0" />
	   <geometry name="nano17">
	   <mesh filename="meshes/nano17.obj"  />
	   </geometry>
	   <material name="Grey" />
	   </visual>-->
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="LFJ1" type="revolute">
    <parent link="lfmiddle"/>
    <child link="lfdistal"/>
    <origin rpy="0 0 0" xyz="0 0 0.025"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.57079632679" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="lftip">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="LFtip" type="fixed">
    <parent link="lfdistal"/>
    <child link="lftip"/>
    <origin rpy="0 0 0" xyz="0 0 0.026"/>
  </joint>
  <link name="thbase">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="THJ5" type="revolute">
    <parent link="palm"/>
    <child link="thbase"/>
    <origin rpy="0 0.785398163397 0" xyz="0.034 -0.0085 0.029"/>
    <axis xyz="0 0 -1.0"/>
    <limit effort="10" lower="-1.047" upper="1.047" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="thproximal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="THJ4" type="revolute">
    <parent link="thbase"/>
    <child link="thproximal"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="1.0 0 0"/>
    <limit effort="10" lower="0" upper="1.309" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="thhub">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="THJ3" type="revolute">
    <parent link="thproximal"/>
    <child link="thhub"/>
    <origin rpy="0 0 0" xyz="0 0 0.038"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="-0.2618" upper="0.2618" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="thmiddle">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="THJ2" type="revolute">
    <parent link="thhub"/>
    <child link="thmiddle"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit effort="10" lower="-0.5237" upper="0.5237" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="thdistal">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="THJ1" type="revolute">
    <parent link="thmiddle"/>
    <child link="thdistal"/>
    <origin rpy="0 0 -1.570796327" xyz="0 0 0.032"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" lower="0" upper="1.571" velocity="1.0"/>
    <dynamics damping="50.5"/>
  </joint>
  <link name="thtip">
    <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.001"/><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0"/></inertial></link>
  <joint name="thtip" type="fixed">
    <parent link="thdistal"/>
    <child link="thtip"/>
    <origin rpy="0 0 0" xyz="0 0 0.0275"/>
  </joint>
</robot>
